body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#container h3 {
    font-family: tommy-bold;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

#container {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container-tabla {
    width: 90%;
    min-height: 500px;
    background-color:  #3e454e;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 20px;
}

#tabla-cursos {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.btn {
    color: #fff;
    text-decoration: none;
}

.btn-vaciar {
    width: 20%;
    margin: 20px 0;
}

/* HEADER */

header {
    background-color: black;
}