/* Contenido principal */

#contenido-principal {
    width: 100%;
}

#articulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    align-items: start;
    justify-items: center;
    padding: 20px;
}

.articulo {
    background-color: #051b35;
    max-width: 300px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}

.precio {
    font-weight: bold;
}

#articulos img {
    width: 100%;
}

.articulo > div {
    padding: 10px;
}

.articulo > div h3 {
    margin-top: 0;
}

.articulo > div a {
    display: block;
    text-decoration: none;
}

.articulo > div button {
    display: block;
    border: none;
    margin: 0 auto;
    width: 70%;
    height: 40px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    margin-top: 15px;
    font-weight: bold;
    color: white;
    background-color: #3e454e;
    cursor: pointer;
}

.articulo > div button:hover {
    box-shadow: 0px 0px 10px #b1b1b1;
}