@media (max-width: 1300px) {
    header .navegacion {
        display: none;
    }

    .logo {
        left: 50%;
        margin-left: -150px;
    }

    #menu-responsive {
        display: block;
    }

    #enlaces-menu {
        width: 20%;
    }

    #portada .leyenda {
        font-size: 60px;
    }
}

@media (max-width: 1200px) {
    #cursos {
        width: 100%;
        box-sizing: border-box;
    }

    #tituloModal {
        font-size: 40px;
    }

    #enlaces-menu {
        width: 30%;
    }
}

@media (max-width: 1000px) {
    footer > p {
        font-size: 12px;
    }

    #cursos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 950px) {
    #cursos {
        grid-template-columns: repeat(2, 1fr);
    }

    #tituloModal {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    #modal .infoModal {
        max-height: 95%;
    }

    #descripcionModal {
        max-height: 150px;
        overflow: scroll;
    }

    #precioModal p {
        width: 20%;
    }
}

@media (max-width: 800px) {
    .navegacion {
        position: relative;
    }

    .navegacion p {
        text-align: center;
        bottom: 10px;
        left: 50%;
        margin-left: -15%;
    }

    #portada .leyenda {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 50px;
        text-shadow: 0px 0px 10px black;
    }
}

@media (max-width: 750px) {
    #portada .leyenda {
        font-size: 50px;
    }

    #tituloModal {
        font-size: 15px;
    }

    #modal .cerrarModal {
        line-height: 30px;
        width: 30px;
        height: 30px;
        margin-right: 50%;
        right: -15px;
        top: -50px;
    }

    #cursos {
        grid-template-columns: 1fr;
    }

    #enlaces-menu {
        width: 45%;
    }
}

@media (max-width: 500px) {
    .enlaces {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .enlaces a {
        margin: 40px 0;
        width: 50%;
    }

    footer {
        height: 250px;
    }

    .navegacion p {
        width: 100%;
        margin-left: -50%;
    }
}

@media (max-width: 480px) {
    #portada .social {
        left: 50%;
        margin-left: -25%;
        text-align: center;
    }

    #cursos {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) and (max-height: 600px) {
    #portada .leyenda {
        font-size: 30px;
    }

    .logo {
        width: 180px;
        left: 50%;
        margin-left: -90px;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 400px) {
    #portada .social {
        left: 50%;
        margin-left: -25%;
        text-align: center;
        font-size: 20px;
    }

    .navegacion #enlaces {
        display: none;
    }
}